html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #161D27;
  margin: 0;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__top {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  display: block;
  font-size: 22px;
  line-height: 1.59;
  letter-spacing: 0.4px;
  text-align: center;
  color: #FFFFFF;
  padding: 24px 71px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.5s;
  transform: scale(1, 1);
}

.header__btn:hover {
  transform: scale(0.8, 0.8);
  background: #ffffff79;
}

.header__bottom {
  border-top: 1px solid #4E555F;
  border-bottom: 1px solid #4E555F;
}

.header__nav {
  padding: 34px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
}

.header__item + .header__item {
  margin-left: 50px;
}

.header__link {
  font-size: 22px;
  line-height: 1.59;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.header__link:hover {
  color: #D1B06B;
}

.header__contacts {
  display: flex;
}

.header__contacts-item + .header__contacts-item {
  margin-left: 50px;
}

.header__contacts-link {
  display: flex;
  align-items: center;
}

.header__contacts-img {
  margin-right: 12px;
}

.header__contacts-text {
  font-size: 18px;
  line-height: 1.61;
  letter-spacing: 0.4px;
  color: #D1B06B;
}

.header__contacts-info {
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.hero {
  background-image: url(/img/hero/hero-bg-gradient.png), url(/img/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 315px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__left {
  max-width: 672px;
}

.hero__title {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 21px;
  position: relative;
}

.hero__title::before {
  content: '';
  position: absolute;
  background-image: url(/img/pattern/pattern-1.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 44px;
  top: -58px;
  left: 0;
}

.hero__text {
  font-size: 22px;
  line-height: 1.81;
  letter-spacing: 0.4px;
  color: #D1B06B;
  margin-bottom: 28px;
}

.hero__btn {
  font-size: 22px;
  line-height: 1.59;
  text-align: center;
  letter-spacing: 0.4px;
  color: #1F2732;
  padding: 24px 71px;
  background: #D1B06B;
  border: 1px solid #D1B06B;
  transition: transform 0.5s;
  transform: scale(1, 1);
}

.hero__btn:hover {
  transform: scale(0.8, 0.8);
  color: #D1B06B;
  background: #1F2732;
}

.hero__right {
  max-width: 672px;
}

.cutaway {
  padding: 140px 0;
}

.cutaway__inner {
  display: flex;
}

.cutaway__left {
  max-width: 467px;
  margin-right: 60px;
}

.cutaway__img + .cutaway__img {
  margin-top: 30px;
}

.cutaway__right {
  max-width: 832px;
}

.cutaway__title {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.28;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
  max-width: 549px;
  margin-bottom: 98px;
  position: relative;
}

.cutaway__title::after {
  content: '';
  position: absolute;
  background-image: url(/img/pattern/pattern-1.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 44px;
  top: 130px;
  left: 0;
}

.cutaway__text {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: #D7D7D7;
  margin-bottom: 35px;
}

.cutaway__author {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.cutaway__author-img {
  margin-right: 20px;
}

.cutaway__author-title {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.cutaway__cards {
  display: flex;
}

.cutaway__card-1 {
  display: flex;
  background: #3B434E;
  padding: 35px 50px;
  margin-right: 30px;
}

.cutaway__card-1-img {
  width: 58px;
  height: 56px;
  margin-right: 20px;
}

.cutaway__card-1-text {
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}

.cutaway__card-2 {
  display: flex;
  align-items: center;
  background: #D1B06B;
  padding: 35px 50px;
}

.cutaway__card-2-box {
  background: #161D27;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 20px;
}

.cutaway__card-2-number {
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.cutaway__card-2-text {
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 0.4px;
  color: #1F2732;
}

.our-practice {
  padding: 120px 0;
}

.our-practice__top {
  display: flex;
  justify-content: space-between;
}

.our-practice__title {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.3;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
  max-width: 370px;
  margin-bottom: 115px;
  position: relative;
}

.our-practice__title::after {
  content: '';
  position: absolute;
  background-image: url(/img/pattern/pattern-1.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 44px;
  top: 130px;
  left: 0;
}

.our-practice__text {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: #D7D7D7;
  max-width: 660px;
  margin-top: 43px;
}

.our-practice__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 30px;
  column-gap: 30px;
}

.our-practice__card {
  padding: 55px 50px 70px 50px;
  background: #1F2732;
}

.our-practice__info {
  padding-bottom: 28px;
  border-bottom: 1px solid #4E555F;
  margin-bottom: 58px;
}

.our-practice__title-card {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.our-practice__text-card {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: #D7D7D7;
}

.our-practice__interactivity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-practice__btn {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #161D27;
  padding: 13px 42px;
  transition: transform 0.5s;
  transform: scale(1, 1);
}

.our-practice__btn:hover {
  transform: scale(0.8, 0.8);
  background: #4E555F;
}

.motivation {
  padding: 124px 0 0 0;
  background: #FFFFFF;
}

.motivation__inner {
  padding-bottom: 80px;
  border-bottom: 1px solid #D7D7D7;
}

.motivation__top {
  margin-bottom: 60px;
}

.motivation__title {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #161D27;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 95px;
  position: relative;
}

.motivation__title::after {
  content: '';
  position: absolute;
  background-image: url(/img/pattern/pattern-2.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 44px;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.motivation__text {
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.4px;
  color: #909090;
  max-width: 635px;
  margin-left: auto;
  margin-right: auto;
}

.motivation__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.motivation__card {
  background: #FBFBFB;
  display: flex;
  align-items: center;
  padding: 30px;
}

.motivation__box {
  width: 120px;
  height: 120px;
  border: 2px solid #D1B06B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.motivation__img {
  width: 22px;
  height: 20px;
}

.motivation__img--star {
  width: 26px;
  height: 24px;
}

.motivation__number {
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.4px;
  color: #1F2732;
}

.motivation__info-title {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 0.4px;
  color: #1F2732;
}

.motivation__info-text {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #909090;
}

.motivation__info-text--transfer {
  max-width: 180px;
}

.motivation__card--picture {
  display: block;
  background-image: url(/img/motivation/card-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 50px;
}

.motivation__number-card {
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.motivation__text-card {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

.partners {
  padding: 90px 0 130px 0;
  background: #FFFFFF;
}

.partners__title {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #161D27;
  text-align: center;
  margin-bottom: 55px;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.partners__title::before {
  content: '';
  position: absolute;
  background-image: url(/img/pattern/pattern-3.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 80px;
  top: 50%;
  transform: translateY(-50%);
  left: -135px;
}

.partners__title::after {
  content: '';
  position: absolute;
  background-image: url(/img/pattern/pattern-3.svg);
  background-repeat: no-repeat;
  width: 95px;
  height: 80px;
  top: 50%;
  transform: translateY(-50%);
  left: 420px;
}

.partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */