html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #161D27;
    margin: 0;
}

body.lock {
    overflow: hidden;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}